
  <br>
  <p> Shop Name: <%= @barbershops.name %></p>
  <p> Shop Rank: <%= @barbershops.rank %></p>
  <p> Is the shop open?: <%= @barbershops.open%></p> 
  <p> Number of Barbers: <%= @barbershops.barbers.count%></p> 
  <br>
  <br>
  <%= link_to "Update Barbershop", "/barbershops/#{@barbershops.id}/edit" %>